@media screen and (max-width: 1038px) {
  .second_nav {
    flex-direction: column;
  }
  .nav_imgs {
    /* align-items: center; */
    /* align-content: center; */
    justify-content: center;
    display: flex;
  }

  .search-input {
    width: 70vw;
  }
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
