@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Karla&family=Montserrat&family=Rubik:wght@300;700&display=swap");

* {
  margin: 0 5px;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  /* background-color: #eef9f9; */
}

header,
main {
  color: #24242a;
}

.first_nav {
  text-align: center;
  padding: 7px;
  font-size: small;
  text-transform: uppercase;
}

.second_nav {
  display: flex;
  padding: 10px;
  margin: auto;
  justify-content: space-around;
}

.search-input {
  width: 608px;
  padding: 10px;
  height: 5px;
}

.company_logo {
  font-weight: bold;
  font-size: large;
  padding: 0 12px;
  margin: auto;
}

.nav_imgs {
  padding: 0px 60px;
  margin: 8px;
}

.search_bar {
  margin: auto;
}
.like-img {
  padding: 0px 4px;
}

.third_nav ul li {
  padding: 0 30px;
  display: inline-block;
  text-decoration: none;
  padding: 5px 25px;
  text-transform: uppercase;
  /* justify-content: center; */
}
.third_nav a {
  color: #24242a;
  text-decoration: none;
  /* color: black; */
}
.third_nav {
  display: flex;
  justify-content: center;
}

hr {
  border-radius: 1px;
}

nav ul li a:hover {
  font-weight: bold;
  box-shadow: 0 -1px 0px inset;
}
.banner {
  position: relative;
  background-color: none;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.banner img {
  width: 80vw;
  padding: 12px;
  border-radius: 20px;
}
.banner {
  display: flex;
  justify-content: center;
}
.btn-banner {
  border-style: inset;
  padding: 1vh 2vw;
  background-color: #24242a;
  color: white;
}
.grid {
  display: grid;
  grid-template-columns: 25% 25% 25% 20%;
  /* border: 1px solid black; */
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  margin: 5%;
  flex-wrap: wrap;
}
.grid .item {
  border: 1px solid #24242a;
  height: 80px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}
.item a {
  color: #83dddd;
  font-weight: bold;
}

/* Main Page */
/* SIde Part */

.main-page {
  display: flex;
}

.category-bestsellers {
  /* border: 1px solid black; */
  /* height: 500px; */
  width: 30%;
}

.category {
  margin: 20px;
  border: 1px solid black;
  padding: 20px;
  border-radius: 10px;
}
.bestsellers {
  margin: 20px;
  /* border: 1px solid black;/ */
  padding: 20px;
  border-radius: 10px;
}

.grid-1 .item {
  height: 60px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* text-transform: uppercase; */
}

.item-const-1 {
  display: flex;
}

.bestsellers .contan-main img {
  margin: 0 0px;
  padding: 0;
}

/* Main Part */

.shop-main {
  width: 70%;
  /* border: 1px solid black; */
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.item-main {
  border: 1px solid #24242a;
  height: 80px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 5px;
  margin: 10px;
  overflow: hidden;
  margin: 20px 0px;
}

.contan-main p {
  font-family: "Rubik", sans-serif;
  padding: 3px;
  height: 15px;
  overflow: hidden;
}

/* ending */

footer {
  background-color: #24242a;
  height: 45px;
  text-align: center;
  color: white;
  margin: auto;
  padding-top: 2vh;
}

.social_media {
  height: 55vh;
  background-color: #24242a;
  margin: 5px 0;
  display: flex;
  color: white;
  justify-content: space-around;
  padding: 70px 0;
}
.social_media i {
  padding: 8px;
  text-decoration: none;
  margin: 0;
  /* padding: 0; */
}

.about {
  text-decoration: none;
}
.about li {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  /* padding: 6px; */
  display: flex;
}
.about h1 {
  padding-bottom: 12px;
}
.social_xx {
  padding-left: 8px;
  text-decoration: none;
}

.img {
  padding: 0 0px;
}
.social_media a {
  text-decoration: none;
  color: white;
}
.social_media a:hover {
  font-weight: bold;
  /* box-shadow: 0 -1px 0px inset; */
}

.social_media h1,
p {
  font-family: "Karla", sans-serif;
}
